body {
    margin: 0;
    padding: 0;
    color: rgb(201, 43, 43);
}

.changeD {
    top: 12.5px;
    background-color: rgb(223, 181, 126);
    transition: 1s ease;
}

#dark {
    left: 2.5px;
    position: relative;
    width: 15px;
    height: 15px;
    border: none;
    box-shadow: 0 0 2px 2px white;
    border-radius: 50%;
}

.changeA {
    top: -1px;
    background-color: rgb(112, 34, 143);
    transition: ease 1s;
}

#timer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#time {
    color: white;
}

#big {
    font-family: Apple Chancery, cursive;
    color: white;
    top: 30%;
    position: absolute;
    left: 60px;
}

#change {
    color: white;
    position: absolute;
    right: -10px;
    top: 40%;
    transform: rotate(90deg);
}

#small {
    background: linear-gradient(45deg, rgb(255, 0, 255), rgb(97, 95, 211));
    font-size: smaller;
    color: white;
    top: 35%;
    position: absolute;
    left: 100px;
}

#navt {
    font-family: Times, Times New Roman, serif;
    top: 50%;
    white-space: nowrap;
    text-align: center;
    position: relative;
    color: black;
    transform: rotate(-90deg);
}

@media only screen and (min-width: 700px) {
    #dark {
        display: none;
    }
    #slide {
        display: none;
    }
    .parent {
        position: absolute;
        height: 100%;
        width: 100%;
        background-image: url(https://ibrakh.github.io/SCH/aa.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    #nav {
        position: fixed;
        width: 50px;
        left: 0;
        height: 100%;
        background-color: white;
    }
    #facebook {
        bottom: 20px;
        position: absolute;
        left: 32%;
        width: 20px;
    }
    #github {
        bottom: 60px;
        position: absolute;
        left: 28%;
        width: 50px;
    }
    #instagram {
        bottom: 99px;
        position: absolute;
        left: 28%;
        width: 50px;
    }
    #twitter {
        bottom: 140px;
        position: absolute;
        left: 28%;
        width: 50px;
    }
    i {
        z-index: 1;
        top: 10px;
        position: fixed;
        left: 15px;
    }
}

@media only screen and (max-width: 460px) {
    #slide {
        justify-content: center;
        border-radius: 5px;
        right: 1%;
        top: 50%;
        transform: translate(-1%, -50%);
        position: fixed;
        background-color: white;
        width: 20px;
        height: 35px;
    }
    .parent {
        position: absolute;
        height: 100%;
        width: 100%;
        background-image: url(https://ibrakh.github.io/SCH/secend.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    #nav {
        position: fixed;
        width: 25px;
        left: 0;
        height: 100%;
        background-color: white;
        transition: 0.1s ease-in;
    }
    #facebook {
        bottom: 10px;
        position: absolute;
        left: 5px;
        width: 20px;
    }
    #github {
        bottom: 50px;
        position: absolute;
        left: 3px;
        width: 50px;
    }
    #instagram {
        bottom: 90px;
        position: absolute;
        left: 3px;
        width: 50px;
    }
    #twitter {
        bottom: 130px;
        position: absolute;
        left: 3px;
        width: 50px;
    }
    i {
        z-index: 1;
        top: 10px;
        position: fixed;
        left: 4px;
    }
}